@using MemeBox2000.Models

@model Meme
@{
    ViewBag.Title = "Memee Detail View";
    string imagePath = Url.Content("~/Content/uploads/" + Model.ID + Model.FileExtension);
}

@Html.Partial("_GalleryNav")

<h2>Meme Detail</h2>

<img src="@imagePath"/><br />
@Html.ActionLink("Delete this Meme", "Delete", new { id = Model.ID })

@using (Html.BeginForm("Detail", "Gallery", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    <p>@ViewBag.Message</p>
    
    @Html.ValidationSummary()    
    <br />
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title)<br />
    <br />
    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description)<br />
    <br />
    @Html.LabelFor(m => m.Genre)
    @Html.TextBoxFor(m => m.Genre)<br />
    <br />
    <input type="submit" value="Update" />
}

<p>This is the URL to this meme: @Path.GetFullPath(imagePath)</p>
