    <!-- SCREENSHOTS -->
	<div class="row-fluid" id="screenshots">
		
		<h2 class="page-title" id="scroll_up">
				Screenshots
			</h2>
		
		<!-- SCREENSHOT IMAGES ROW 1-->
		<ul class="thumbnails">
			<li class="span3">
				<a href="@Url.Content("~/Content/img/screenshot.jpg")" rel="gallery" class="thumbnail">
				<img src="@Url.Content("~/Content/img/screenshot.jpg")" alt="">
				</a>
			</li>
		
			<li class="span3">
				<a href="@Url.Content("~/Content/img/screenshot.jpg")" rel="gallery" class="thumbnail">
				<img src="@Url.Content("~/Content/img/screenshot.jpg")" alt="">
				</a>
			</li>
			
			<li class="span3">
				<a href="@Url.Content("~/Content/img/screenshot.jpg")" rel="gallery" class="thumbnail">
				<img src="@Url.Content("~/Content/img/screenshot.jpg")" alt="">
				</a>
			</li>
 
			<li class="span3">
				<a href="@Url.Content("~/Content/img/screenshot.jpg")" rel="gallery" class="thumbnail">
				<img src="@Url.Content("~/Content/img/screenshot.jpg")" alt="">
				</a>
			</li>
		</ul>	
		
		<!-- SCREENSHOT IMAGES ROW 2-->		
		<ul class="thumbnails">
			<li class="span3">
				<a href="@Url.Content("~/Content/img/screenshot.jpg")" rel="gallery" class="thumbnail">
				<img src="@Url.Content("~/Content/img/screenshot.jpg")" alt="">
				</a>
			</li>
			
			<li class="span3">
				<a href="@Url.Content("~/Content/img/screenshot.jpg")" rel="gallery" class="thumbnail">
				<img src="@Url.Content("~/Content/img/screenshot.jpg")" alt="">
				</a>
			</li>
			
			<li class="span3">
				<a href="@Url.Content("~/Content/img/screenshot.jpg")" rel="gallery" class="thumbnail">
				<img src="@Url.Content("~/Content/img/screenshot.jpg")" alt="">
				</a>
			</li>
			
			<li class="span3">
				<a href="@Url.Content("~/Content/img/screenshot.jpg")" rel="gallery" class="thumbnail">
				<img src="@Url.Content("~/Content/img/screenshot.jpg")" alt="">
				</a>
			</li>
		</ul>
	</div>